<h2>About Us</h2>
<p>ITA is a US-based insurance carrier offering a diversified suite of 
travel-related products. Our mission is to provide peace of mind for adventurers 
via pre-structured and on-demand products.</p>

<p>Pre-structured Voyager Assurance products are offered to all travelers and 
provide financial security on excursions worldwide. On demand products provide 
customizable assurance for the off-the-beaten-path traveler.</p>
<script>
$(document).ready(function() {  

function backgroundC(b) {
    var  a = $("body").classname; $("body").removeClass(a).addClass(b);  
}       
 
 backgroundC('bg2');
		
/* $(".navbar-brand").click(function(){
    var curClass = this.classname;
    $("body").removeClass('curClass').addClass('bg2');
	});   */
});

</script>