<h2>How it works</h2>
<p>No matter the excursion, ITA provides a series of Voyager Assurance products 
for seasoned voyagers and traveling newbies alike. When you choose our products,
you are provided financial security from a US-based insurance carrier that has 
partnered with excursions worldwide for minimum risk and maximum fun.</p>