<div class="text-center">
  <h1>International Traveler Assurance</h1>
  <h3>So you never have to travel alone.</h3>
</div>
<script> 
$(document).ready(function() {  

function backgroundC(b) {
    var  a = $("body").classname; $("body").removeClass(a).addClass(b);  
}       
 
 backgroundC('bg1');
 </script>