
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <h2>Manage a policy</h2>
        <button class="btn btn-info"><%= link_to "Purchase a new policy", new_requester_path %>
        </button> <button class="btn btn-info"><%= link_to "File a Claim", new_claimant_path %></button>
    
  </div>
</div>