<h2>Pricing and products</h2>
<ul>
    <li>Shark sighting products, South Africa</li>
    <ul>
        <li>RXX for RXX guarantee</li>
    </ul>
</ul>
<script>
$(document).ready(function() {  

function backgroundC(b) {
    var  a = $("body").classname; $("body").removeClass(a).addClass(b);  
}       
 
 backgroundC('bg5');
		
/* $(".navbar-brand").click(function(){
    var curClass = this.classname;
    $("body").removeClass('curClass').addClass('bg2');
	});   */
});

</script>