@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.bg1{
    background-image:url('ITA/photo1.jpg');
    background-size:100% 140%;
    background-repeat:no-repeat;
}
.bg2{
    background-image:url('ITA/photo2.jpg');
    background-size:100% 140%;
    background-repeat:no-repeat;
}
.bg3{
    background-image:url('ITA/photo3.jpg');
    background-size:100% 140%;
    background-repeat:no-repeat;
}
.bg4{
    background-image:url('ITA/photo4.jpg');
    background-size:100% 180%;
    background-repeat:no-repeat;
}
.bg5{
    background-image:url('ITA/photo5.jpg');
    background-size:100% 180%;
    background-repeat:no-repeat;
}
.jumbotron {
  padding: 30px 15px;
  margin-top: 3em;
  margin-bottom: -40px;
  color: white;
  opacity: .85;
  background-color: black;
}

.footer{
    position: fixed;
    bottom:0em;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 3em;
    width:100%;
}
.footer a{
    position:absolute;
    right:0em;
}